* {
  margin: 0;
}

.App {
  width: 80%;
  padding: 0.1em;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}